/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.no-flex {
  display: block;
}

.navbar {
  width: 100%;
  margin-bottom: 90px;
}

.stat-doughnuts {
  position: relative;
  display: block;
  min-height: 100px;
  background-color: var(--colorLayoutLight);
  border-radius: 10px;
}

.challenges-doughnuts {
  min-height: 100px;
}

.stat-doughnuts > .chart-text {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  text-align: center;
  transform: translateY(-50%);
  font-weight: bold;
}

.stat-doughnuts > .chart-label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  transform: translateY(-50%);
}

.stat-doughnuts > canvas {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

.nb-challenges-finished {
  font-size: 4em;
}

.nb-saved {
  font-size: 2em;
}

.unit-saved {
  font-size: 2em;
  font-weight: bold;
}

.stat-values {
  position: relative;
  min-height: 100px;
  background-color: var(--colorLayoutLight);
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.normal-font {
  font-size: 1.2em;
  font-weight: bold;
}

.fontweight {
  font-weight: lighter;
}

.sidebar {
  display: flex;
  width: 300px;
  height: calc(100vh - 80px);
  background-color: var(--colorLayoutDark);
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
  }
}

.sidebar .sidebar-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .sidebar .sidebar-items {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.sidebar .sidebar-items .sidebar-item {
  display: flex;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar .sidebar-items .sidebar-item .sidebar-link {
  display: flex;
  flex: 1;
  padding: 15px;
  border-radius: 10px;
}

.sidebar .sidebar-items .sidebar-item .sidebar-link:hover {
  filter: brightness(0.75);
  background-color: var(--colorLayoutDarker);
}

.userbar {
  display: flex;
  width: 300px;
  height: calc(100vh - 80px);
  background-color: var(--colorLayoutDark);
}

@media (max-width: 768px) {
  .userbar {
    position: fixed;
    bottom: 60px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
  }
}

.userbar .userbar-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .userbar .userbar-items {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.userbar .userbar-items .userbar-item {
  display: flex;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 20%;
}

.userbar .userbar-items .userbar-item button {
  background-color: var(--colorLayoutDark);
  color: var(--colorTextLightest);
  border: 0 solid black;
}

.userbar .userbar-items .userbar-item .userbar-link {
  display: flex;
  flex: 1;
  padding: 15px;
  border-radius: 10px;
}

.userbar .userbar-items .userbar-item .userbar-link:hover {
  filter: brightness(0.75);
  background-color: var(--colorLayoutDarker);
}

[theme] {
  --colorLayoutDarkest: rgb(255, 255, 255);
  --colorLayoutDarker: rgb(245, 245, 245);
  --colorLayoutDark: rgb(240, 240, 240);
  --colorLayoutLight: rgb(225, 225, 225);
  --colorLayoutLighter: rgb(219, 219, 219);
  --colorLayoutLightest: rgb(210, 210, 210);
  --colorTextDarker: rgb(150, 150, 150);
  --colorTextDark: rgb(135, 135, 135);
  --colorTextLight: rgb(105, 105, 105);
  --colorTextLighter: rgb(55, 55, 55);
  --colorTextLightest: rgb(0, 0, 0);
  --colorAccentLight: rgb(134, 204, 163);
  --colorAccentDark: rgb(0, 0, 0);
}

[theme=dark] {
  --colorLayoutDarkest: rgb(0, 0, 0);
  --colorLayoutDarker: rgb(10, 10, 10);
  --colorLayoutDark: rgb(15, 15, 15);
  --colorLayoutLight: rgb(30, 30, 30);
  --colorLayoutLighter: rgb(36, 36, 36);
  --colorLayoutLightest: rgb(45, 45, 45);
  --colorTextDarker: rgb(100, 100, 100);
  --colorTextDark: rgb(135, 135, 135);
  --colorTextLight: rgb(150, 150, 150);
  --colorTextLighter: rgb(200, 200, 200);
  --colorTextLightest: rgb(255, 255, 255);
}

