@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

.no-flex {
  display: block;
}

.navbar {
  width: 100%;
  margin-bottom: 90px;
}

/*! CSS Used from: https://demo.pixelcave.com/dashmix/assets/css/dashmix.min-5.1.css */

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  color: #0665d0;
  text-decoration: none;
}

a:hover {
  color: #03356d;
  text-decoration: none;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}

.ratio {
  position: relative;
  width: 100%;
}

.ratio::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}

.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratio-1x1 {
  --bs-aspect-ratio: 100%;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.text-center {
  text-align: center !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

a {
  transition: color 0.12s ease-out;
}

.text-uppercase {
  letter-spacing: 0.0625rem;
}

.row.g-sm > [class*=col-] {
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.row.g-sm .block {
  margin-bottom: 0.25rem;
}

@media print {
  .block {
    box-shadow: none !important;
  }
}

.content .block {
  margin-bottom: 0.875rem;
}

@media (min-width: 768px) {
  .content .block {
    margin-bottom: 1.75rem;
  }
}

.block {
  margin-bottom: 1.75rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(214, 221, 237, 0.5), 0 1px 2px rgba(214, 221, 237, 0.5);
}

.block-content {
  transition: opacity 0.25s ease-out;
  width: 100%;
  margin: 0 auto;
  padding: 1.25rem 1.25rem 1px;
  overflow-x: visible;
}

.block-content.block-content-full {
  padding-bottom: 1.25rem;
}

a.block {
  display: block;
  color: #343a40;
  font-weight: 400;
  transition: transform 0.15s ease-out, opacity 0.15s ease-out, box-shadow 0.15s ease-out;
}

a.block:hover {
  color: #343a40;
  opacity: 0.65;
}

a.block:active {
  opacity: 1;
}

.bg-image {
  background-position: 0 50%;
  background-size: cover;
}

.bg-primary-op {
  background-color: rgba(106, 176, 76, 0.8) !important;
}

.text-white {
  color: #fff !important;
}

.far {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-2x {
  font-size: 2em;
}

.fa-user-circle:before {
  content: "\F2BD";
}

.far {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

/*! CSS Used fontfaces */

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://demo.pixelcave.com/dashmix/assets/fonts/fontawesome/fa-regular-400.eot);
  src: url(https://demo.pixelcave.com/dashmix/assets/fonts/fontawesome/fa-regular-400.eot#iefix) format("embedded-opentype"), url(https://demo.pixelcave.com/dashmix/assets/fonts/fontawesome/fa-regular-400.woff2) format("woff2"), url(https://demo.pixelcave.com/dashmix/assets/fonts/fontawesome/fa-regular-400.woff) format("woff"), url(https://demo.pixelcave.com/dashmix/assets/fonts/fontawesome/fa-regular-400.ttf) format("truetype"), url(https://demo.pixelcave.com/dashmix/assets/fonts/fontawesome/fa-regular-400.svg#fontawesome) format("svg");
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(https://demo.pixelcave.com/dashmix/assets/fonts/fontawesome/fa-solid-900.eot);
  src: url(https://demo.pixelcave.com/dashmix/assets/fonts/fontawesome/fa-solid-900.eot#iefix) format("embedded-opentype"), url(https://demo.pixelcave.com/dashmix/assets/fonts/fontawesome/fa-solid-900.woff2) format("woff2"), url(https://demo.pixelcave.com/dashmix/assets/fonts/fontawesome/fa-solid-900.woff) format("woff"), url(https://demo.pixelcave.com/dashmix/assets/fonts/fontawesome/fa-solid-900.ttf) format("truetype"), url(https://demo.pixelcave.com/dashmix/assets/fonts/fontawesome/fa-solid-900.svg#fontawesome) format("svg");
}

.stat-doughnuts {
  position: relative;
  display: block;
  min-height: 100px;
  background-color: var(--colorLayoutLight);
  border-radius: 10px;
}

.challenges-doughnuts {
  min-height: 100px;
}

.stat-doughnuts > .chart-text {
  position: absolute;
  top: 40%;
  right: 0;
  left: 0;
  text-align: center;
  transform: translateY(-50%);
  font-weight: bold;
}

.stat-doughnuts > .chart-label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  transform: translateY(-50%);
}

.stat-doughnuts > canvas {
  display: block;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

.nb-challenges-finished {
  font-size: 4em;
}

.nb-saved {
  font-size: 2em;
}

.unit-saved {
  font-size: 2em;
  font-weight: bold;
}

.stat-values {
  position: relative;
  min-height: 100px;
  background-color: var(--colorLayoutLight);
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.normal-font {
  font-size: 1.2em;
  font-weight: bold;
}

.fontweight {
  font-weight: lighter;
}

.sidebar {
  display: flex;
  width: 300px;
  height: calc(100vh - 80px);
  background-color: var(--colorLayoutDark);
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
  }
}

.sidebar .sidebar-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .sidebar .sidebar-items {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.sidebar .sidebar-items .sidebar-item {
  display: flex;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar .sidebar-items .sidebar-item .sidebar-link {
  display: flex;
  flex: 1;
  padding: 15px;
  border-radius: 10px;
}

.sidebar .sidebar-items .sidebar-item .sidebar-link:hover {
  filter: brightness(0.75);
  background-color: var(--colorLayoutDarker);
}

.userbar {
  display: flex;
  width: 300px;
  height: calc(100vh - 80px);
  background-color: var(--colorLayoutDark);
}

@media (max-width: 768px) {
  .userbar {
    position: fixed;
    bottom: 60px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
  }
}

.userbar .userbar-items {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .userbar .userbar-items {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.userbar .userbar-items .userbar-item {
  display: flex;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
  width: 20%;
}

.userbar .userbar-items .userbar-item button {
  background-color: var(--colorLayoutDark);
  color: var(--colorTextLightest);
  border: 0 solid black;
}

.userbar .userbar-items .userbar-item .userbar-link {
  display: flex;
  flex: 1;
  padding: 15px;
  border-radius: 10px;
}

.userbar .userbar-items .userbar-item .userbar-link:hover {
  filter: brightness(0.75);
  background-color: var(--colorLayoutDarker);
}

[theme] {
  --colorLayoutDarkest: rgb(255, 255, 255);
  --colorLayoutDarker: rgb(245, 245, 245);
  --colorLayoutDark: rgb(240, 240, 240);
  --colorLayoutLight: rgb(225, 225, 225);
  --colorLayoutLighter: rgb(219, 219, 219);
  --colorLayoutLightest: rgb(210, 210, 210);
  --colorTextDarker: rgb(150, 150, 150);
  --colorTextDark: rgb(135, 135, 135);
  --colorTextLight: rgb(105, 105, 105);
  --colorTextLighter: rgb(55, 55, 55);
  --colorTextLightest: rgb(0, 0, 0);
  --colorAccentLight: rgb(134, 204, 163);
  --colorAccentDark: rgb(0, 0, 0);
}

[theme=dark] {
  --colorLayoutDarkest: rgb(0, 0, 0);
  --colorLayoutDarker: rgb(10, 10, 10);
  --colorLayoutDark: rgb(15, 15, 15);
  --colorLayoutLight: rgb(30, 30, 30);
  --colorLayoutLighter: rgb(36, 36, 36);
  --colorLayoutLightest: rgb(45, 45, 45);
  --colorTextDarker: rgb(100, 100, 100);
  --colorTextDark: rgb(135, 135, 135);
  --colorTextLight: rgb(150, 150, 150);
  --colorTextLighter: rgb(200, 200, 200);
  --colorTextLightest: rgb(255, 255, 255);
}

